$bgColor: black;

$panelBgColor: #a1ffff;
$panelUrgentColor: #fdfd7b;
$panelSubtleColor: #498eed;
$panelInfoColor: #394ea9;
$panelTextColor: #f8fefb;

// Heads up display colors
$hudFriendlyColor: #5bab7a;
$hudUnknownColor: #fdfd7b;
$hudCivillianColor: #f8fefb;
$hudHostileColor: #fd4344;

// Margins
$m1: 0.5rem;
$m2: 1rem;
